	
BODY
{
	font-family: arial;
	margin: 0; 
	padding: 50px;
}

#dataTable
{
	z-index: 0;
}

#dataTable TD, #datatable TH
{
	padding: 5px;
	margin: 5px;
	border: 1px solid #CDCDCD;
	border-collapse: collapse;
}

#dataTable TH
{
	background-color: #EFEFEF;
}

.options
{
	float: right;
	margin-top: 20px;
	border: 1px solid black;
	width: 250px;
	z-index: 2;
	padding: 10px;
}

.options H3
{
	background-color: #EFEFEF;
	display: block;
	margin: -10px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;

	padding: 10;
}